/* webapp/src/style/chat/chatBox.css */
.chat-box {
  position: absolute;
  bottom: 4rem;
  left: 70%;
  transform: translateX(-50%);

  width: 40rem;
  height: 40rem;

  display: flex;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  color: rgb(15, 15, 15);
}

.user-list {
  width: 12rem;
  border-right: 1px solid rgba(255,255,255,0.1);
  overflow-y: auto;
}

.chat-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.message-input {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.chat-placeholder {
  margin: auto;
  opacity: 0.6;
}
